@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --medium-grey-with-opacity: hsla(216, 12%, 54%, 0.1);
  --orange: hsl(25, 97%, 53%);
}

body {
  background-color: var(--very-dark-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5em;
}

/* rating state start */
.rating-state-container, .thank-you-state-container {
  background-color: var(--dark-blue);
  padding: 1.5em;
  border-radius: 1.5em;
  height: max-content;
  margin: 0 auto;
  width: 400px;
}

.star-icon-container {
  background-color: var(--medium-grey-with-opacity);
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin-bottom: 1em;
}

.star-icon {
  margin: 0.5em;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  color: var(--white);
}

.rating-state-container p {
  color: var(--light-grey);
  margin-bottom: 1.5em;
}

.rating-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rating-btns {
  background-color: var(--medium-grey-with-opacity);
  border-radius: 50%;
  padding: 1em;
  width: 3em;
  height: 3em;
  text-align: center;
  color: var(--light-grey);
  font-weight: 700;
  cursor: pointer;
}

.rating-btns:hover {
  background-color: var(--orange);
  color: var(--white);
}

.rating-btn-selected {
  background-color: var(--medium-grey);
  color: var(--white);
}

.submit-btn {
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  border: none;
  width: 100%;
  padding: 1em;
  border-radius: 2em;
  letter-spacing: 3px;
  font-weight: 700;
  margin-top: 2em;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--white);
  color: var(--orange);
}
/* rating state end */

/* thank you state start */
.thank-you-state-container {
  display: none;
}

.thank-you-state-container img {
  display: block;
  margin: 0 auto 1.5em;
}

.thank-you-state-container .selected-rating {
  background-color: var(--medium-grey-with-opacity);
  border-radius: 2em;
  padding: 0.5em 1em;
  text-align: center;
  width: max-content;
  display: block;
  margin: 0 auto 2em;
  color: var(--orange);
}

h2 {
  color: var(--white);
  text-align: center;
  margin-bottom: 0.75em;
}

.thank-you-state-container p {
  color: var(--medium-grey);
  text-align: center;
}

/* thank you state end */

footer { 
  margin-top: 1em;
  font-size: 11px; 
  text-align: center; 
  color: var(--white);
}
  
footer a { 
  color: var(--light-grey); 
  font-weight: 700;
}